@media (max-width: 1200px) {
    .container {
        max-width: 940px;
    }
    .comfort__text {
        max-width: 438px;
    }
    .comfort__img {
        max-width: 452px;
    }
    .wireless__img {
        max-width: 357px;
    }
    .wireless__text {
        max-width: 440px;
    }
    .pro__text {
        max-width: 233px;
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .card {
        max-width: none;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .nav_width {
        max-width: none;
        width: auto;
    }
    .comfort, .wireless, .pro {
        flex-direction: column;
        align-items: center;
    }
    .comfort__text {
        margin-bottom: 15px;
        text-align: center;
    }
    .wireless__text {
        text-align: center;
    }
    .pro__text {
        text-align: center;
        margin: 15px;
        max-width: 333px;
    }
    .pro__text:nth-child(1) {
        text-align: center;
    }
    .line {
        display: none;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
    .airpods__heading {
        font-size: 50px;
    }
    nav, .nav {
        flex-direction: column;
        margin-bottom: 15px;
    }
    .footer {
        padding: 40px;
    }
    .nav__logo {
        margin-bottom: 15px;
    }
}
@media (max-width: 520px) {
    .card {
        width: 100%;
    }
    .footer {
        padding: 5px;
    }
    .airpods__heading {
        text-align: center;
    }
}